@font-face {
  font-family: Gameplay;
  src: url(../assets/Gameplay.ttf);
}

@font-face {
  font-family: DePixelKlein;
  src: url(../assets/DePixelKlein.otf);
}

#root {
  height: 100%;
  max-width: 1900px;
  margin: 0 auto;

  font-family: DePixelKlein;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-family: Gameplay;
  font-size: 3rem;
  line-height: 1.1;
  color: rgb(185, 255, 44);
}

h2 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}

.error-msg {
  width: 100%;
  height: 100%;

  color: red;

  display: flex;
  justify-content: center;
}

header {
  margin: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.accent {
  color: aqua;
}

.score-cont {
  padding: 8px 12px;

  font-family: Gameplay;

  background-color: rgb(114, 114, 114);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 12px;
}

.score-cont > div {
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
}

.score {
  color: rgb(0, 255, 64);
}

.best-score {
  color: aqua;
}

.score > span,
.best-score > span {
  margin-left: 12px;
  color: white;
}

.cards-cont {
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-card {
  width: 215px;
  height: 320px;
  position: relative;

  text-align: center;

  box-sizing: border-box;
  overflow: hidden;
  outline: 1px solid rgb(180, 180, 180);
  transition: outline-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
  border-radius: 12px;
  cursor: pointer;

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.game-card:hover {
  outline: 1px solid rgb(153, 255, 1);
  box-shadow: 0px 0px 50px -9px rgba(153, 255, 1, 0.6);
  transform: scale(1.03);
}

.game-card::before {
  content: '';
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: linear-gradient(
    75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0.1) 60%,
  );
  transform: rotate(25deg);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.game-card:hover::before {
  animation: glare 1s ease-out forwards;
  opacity: 1;
}

@keyframes glare {
  0% {
    transform: translate(-150%, -150%) rotate(35deg);
  }
  100% {
    transform: translate(150%, 150%) rotate(35deg);
  }
}

.game-info {
  background-color: rgba(51, 51, 51, 0.6);
  padding: 4px;
}

.game-info > h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden; 
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.game-info > p {
  font-size: 0.8rem;
}
/* Loading spinner animation when retrieveing API */
.loader {
  width: 50px;
  height: 50px;

  margin: auto;

  background-color: rgba(51, 51, 51, 0.6);
  border: 2px solid rgb(153, 255, 1);
  border-radius: 50%;
  border-top: 2px solid rgb(255, 255, 255);

  animation: spinner 1s linear infinite;

  position: absolute;
  top: 40%;
  right: 50%;
  z-index: 3;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
