#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}

.cards-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.game-card {
  width: 200px;
  height: 340px;

  box-sizing: border-box;
  overflow: hidden;

  outline: 1px solid white;
  transition: outline-color 0.4s ease, box-shadow 0.4s ease;
  border-radius: 12px;
  cursor: pointer;

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.game-card:hover {
  outline: 1px solid rgb(153, 255, 1);
  box-shadow: 0px 0px 150px -9px rgba(153, 255, 1, 0.6);
}

.game-info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4px;
}

.game-info > h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden; 
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.game-info > p {
  font-size: 0.8rem;
  font-weight: 600;
}
