#root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}

.cards-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.game-card {
  width: 200px;
  height: 340px;

  box-sizing: border-box;
  padding: 6px;

  border-radius: 12px;

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.game-card > h2,
.game-card > p {
  background-color: (rgba(58, 58, 58, 0.8));
  z-index: 1;
}

.game-card > h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; 
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.game-card > p {
  font-size: 0.8rem;
}
